.img{
    position: fixed;
    top: 200px;
    left: 10px;
    top: 310px;
    height: 700px;
    width: 780px;
   margin-left: 30%;
    
}
.form{
    position: relative;
    width: 470px;
    height: 470px;
    left: 720px;
    bottom: 40%;
   
}
